<style>
    .header-container {
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        align-items: baseline;
    }
</style>
<link rel="shortcut icon" type="image/x-icon" href="/favicon.ico?">

<header class="site-header">
    <div class="wrapper header-container">
        <a class="site-title" rel="author" href="{{ '/' | relative_url }}">{{ site.title | escape }}</a>
        <div class="header-search">
            <form class="header-search-form" action="/search" method="get">
                <input type="text" id="search-box" name="query">
                <input type="submit" value="search">
            </form>
        </div>
    </div>
</header>
